{% extends 'base.html' %}
{% block content %}

<div class="vh-100">

    <div class="d-flex" style="height:100%" >

        <nav class="col-2 px-3 py-4 bg-colum text-white">

            <a href="" class="navbar-brand link-light">
                <div class="d-flex align-items-center" >
                    <img src="../../static/img/Nutri-Gourmet-LOGO-1-removebg-preview.png" alt="" width="250px"/>
                </div>
            </a>

            <ul class="navbar-nav flex-column fw-bold py-3">
                <li class="nav-item">
                    <a class="nav-link link-secondary px-3" href="">
                        <i class="fas fa-home"></i>
                        <span class="mx-2">início<span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="nav-link link-secondary px-3" href="">
                        <i class="fas fa-plus-square"></i> <span class="mx-2">adicionar clientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary px-5 " href="">
                        <i class="fas fa-heart"></i> <span class="mx-2"></span>
                    </a>
                </li>
            </ul>

            <div class="px-3">
                <hr />
            </div>

            <a href="" class="nav-link link-secondary py-2">nickname</a>


        </nav>


        <nav class="d-flex w-100 justify-content-between gap-3 px-5 mb-5 bg-nav" style="height:7%">

    </div>
</div>


{% endblock %}