{% extends 'base.html' %}
{% block content %}

<div class="vh-100">

    <div class="d-flex" style="height:100%" >

        <nav class="col-2 px-3 py-4 bg-colum text-white">

            <a href="" class="navbar-brand link-light">
                <div class="d-flex align-items-center" >
                    <img src="../../static/img/Nutri-Gourmet-LOGO-1-removebg-preview.png" alt="" width="250px"/>
                </div>
            </a>

            <ul class="navbar-nav flex-column fw-bold py-3">
                <li class="nav-item">
                    <a class="nav-link link-secondary px-3" href="">
                        <i class="fas fa-home"></i>
                        <span class="mx-2">início<span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="nav-link link-secondary px-3" href="">
                        <i class="fas fa-plus-square"></i> <span class="mx-2">adicionar clientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary px-5 " href="">
                        <i class="fas fa-heart"></i> <span class="mx-2"></span>
                    </a>
                </li>
            </ul>

            <div class="px-3">
                <hr />
            </div>

            <a href="" class="nav-link link-secondary py-2">nickname</a>


        </nav>


        <nav class="d-flex w-100 justify-content-between gap-3 px-5 mb-5 bg-nav" style="height:7%">

        </nav>

        <!-- <main class="col-10 text-white overflow-hidden d-flex flex-column">

            <header class="bg-darker">
                <div class="d-flex px-5 py-4" id="navbarNavDropdown">
                    <form class="d-flex col-8 px-3">
                        <input class="border-0 form-control bg-dark-custom search-input text-white" type="search"
                            id="search-music" placeholder="Buscar música ou artista..." aria-label="Search">
                        <button class="btn btn-outline-success px-4   ms-2 fw-bold" type="submit"
                            id="find-music">Buscar</button>
                    </form>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="./img/user.png" alt="User" class="user" width="30px">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Meus Dados</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Configurações</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./index.html">Sair</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>

            <section class="d-flex w-100 justify-content-between gap-3 px-5 mb-5" style="height:80%">

                <article class="card col-8 bg-dark middle-size mt-5 pe-2">

                    <div class="card-header">
                        <h5 class="card-title">Músicas</h5>
                    </div>

                    <div class="card-body overflow-auto">

                        <table class="table table-borderless align-middle border-spacing" id="song-table"
                            style="line-height: 2;">
                        </table>

                    </div>

                </article>

                <section class="col-4 pt-5">

                    <div class="card bg-dark card-size" id="video-music">

                        <video class="ms-auto w-100" controls>
                            <source src="" type="video/mp4" id="src-video">
                            Your browser does not support the video tag.
                        </video>

                    </div>

                </section>

            </section>
        </main> -->

    </div>
</div>


{% endblock %}