.bg-colum {
    background-color: rgb(179, 41, 41); opacity:1.0;
    border-right: 2px solid rgb(160, 160, 160);
}

.bg-nav {
    background-color: rgb(136, 0, 0);
    border-bottom: 2px solid rgb(160, 160, 160);
}

#bg-login{
    background-color: rgb(136, 0, 0);
}